<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <meta name="description" content="" />
    <meta name="author" content="Andrea Mignolo" />
    <meta name="google-site-verification" content="tCPhQbhWij1mPScz84y0GQDTWrlZ0oMyN702dRmtmr0" />
    <meta name="keywords" content="design, design leadership, interaction design, organizational design, business design, coaching" />

    <title><%= current_page.data.title || "pnts.us" %></title>
    <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/6543216/6977192/css/fonts.css" />
    <%= stylesheet_link_tag "pnts" %>
    <%= javascript_include_tag "pnts" %>
  </head>
  <body>
    <header>
      <div class="inner">
        <div class="site-branding">
          <%= link_to('pnts.us', '/', :class => 'logo') %>
        </div>
        <nav>
          <ul>
            <li><%= link_to('bio', 'bio') %> </li>
            <li><%= link_to('speaking', 'speaking') %> </li>
          </ul>
        </nav>
      </div>
    </header>

    <section class="content">
      <div class="inner">
        <%= yield %>
      </div>
    </section>

    <%= partial "footer" %>
  </body>
</html>
