---
title: Andrea Mignolo /// Bio
---


  <section class="content bio">
    <div class="col-1">
      <h1 class="section-label"><%= link_to('pnts.us', 'index') %></h1>
    </div>

    <div class="col-2">
  <div class="headshot">
    <%#= image_tag("amignolo-web.png", :alt => "Headshot of Andrea Mignolo") %>
  </div>

  <h6><strong>Short version:</strong></h6>
  <p>Andrea (she/her) is an American designer, speaker, and writer interested in systems, complexity, decoloniality, and learning. By day she is an <%= link_to('executive coach', 'https://methodandmatter.com') %> who works with unconventional leaders to develop capacity, connect with inner knowing, cultivate power, and lead with clarity. By night she is the President of <%= link_to('Interaction Design Association', 'https://ixda.org') %> serving on the global Board of Directors. Prior to coaching, Andrea was a design and product executive at a number of start-ups, an English teacher at the Japanese Air Self-Defense Force, and developed the once-popular Oulipo Wordpress Theme.</p>

  <h6><strong>Long version:</strong></h6>
  <p>Andrea (she/her) is an American designer, speaker, and writer interested in systems, complexity, decoloniality, and learning. Her career has centered around the interactions between humans and technology, as well as the role of reflective practices in organizational design and development.</p>

  <p>Andrea is currently an executive coach at <%= link_to('method & matter', 'http://methodandmatter.com') %>, as well as President of <%= link_to('Interaction Design Association', 'http://ixda.org') %>, serving on the organization's Global Board of Directors. Previously she served as the Vice President of Product & Design at <%= link_to('Movable Ink', 'http://movableink.com') %> where she helped craft product strategy, innovation, creative direction, and development. Andrea holds an MBA from the <%= link_to('Weatherhead School of Management', 'http://weatherhead.case.edu') %> where she concentrated on enhancing mutual intelligibility between the realms of design and business, a BA in <%= link_to('Technocultural Studies', 'https://en.wikipedia.org/wiki/Technoculture') %> from Oberlin College, and is  certified as a coach through <%= link_to('New Ventures West', 'https://newventureswest.com') %> and the <%= link_to('International Coaching Federation', 'https://coachingfederation.org') %>.</p>

  <p>Prior to Movable Ink she was the Chief Design Officer at SimpleReach, a local leader for both the Vancouver and New York branches of the Interaction Design Association, and the Creative Director of NabeWise, a neighborhood-centric start-up acquired by Airbnb in 2012.</p>

  <p>In previous lives she's been a video game tester, an English teacher at the Japanese Air Self-Defense Force, and was the developer of the once-popular <%= link_to('Oulipo Wordpress Theme', 'https://en.blog.wordpress.com/2010/08/16/new-theme-oulipo/') %>.</p>
</div></section>


<div class="separator"></div>

<section class="content">
  <div class="col-1">
    <h1 class="section-label">Selected Talks</h1>
  </div>

  <div class="col-2">
    <div class="video-container">
    <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/243835373?color=ffffff&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
    </div>
  </div>
</section>

<div class="separator"></div>

<section class="content">
  <div class="col-1">
    <h1 class="section-label"><%= link_to('Leadership By Design', 'http://chicagocamps.org/events/2019/leadership-by-design/') %>, Chicago 2019</h1>
    <h2>Don't Forget the Design!</h2>
    <p><%= link_to('Presentation slides', 'https://pnts.sfo2.digitaloceanspaces.com/dont-forget-design.pdf') %></p>
  </div>

  <div class="col-2">
    <p>Stepping into leadership positions heralds a change in our roles and responsibilities, and often includes a shift from hands-on design to more strategic and operational management. At this level our success depends on a thorough understanding of the business and partnering with departments across the organization. But what does design look like when we’re no longer designing products and services? What are we designing?</p>

    <p>As we navigate these new realms it can be hard to find the language to bridge the logic of business with the sensemaking of design. How can we be good business partners and designers? Faced with a lack of intelligibility between the two realms it can feel like we have to choose one or the other. Together we’ll explore the relationship between business and design, examine ways to resolve tensions between the two realms, and check out a new lens through which to understand the value of design.</p>
  </div>
</section>

<div class="separator"></div>

<section class="content">
  <div class="col-1">
    <h1 class="section-label">Keynote: <%= link_to('Leading Design', 'https://2017.leadingdesignconf.com/') %>, London 2017</h1>
    <h2>Eat Only Elk: Authenticity, Transformation, and the Business of Design</h2>
    <p><%= link_to('Presentation slides', 'https://pnts.sfo2.digitaloceanspaces.com/eat-only-elk.pdf') %></p>
  </div>

  <div class="col-2">
    <p>Over the past decade the role of design has taken on greater organizational significance. Today design leaders must focus not only on creating great products and services, but on transforming business through the power of design. But what about our own personal transformation? We pour so much time into building teams, operationalizing design, developing strategy, and creating value for our companies that it can be hard to keep sight of what happens to us in the process. If personal transformation lays the foundation for organizational change, how do we make space to show up fully and be our authentic selves in a professional environment? This talk will explore the question of self transformation in the context of work life and look at how inner struggles can expand our understanding of what it means to be a professional, a leader, and a designer.</p>
  </div>
</section>

<div class="separator"></div>

<section class="content">
  <div class="col-1">
    <h1 class="section-label"><%= link_to('Leading Design', 'https://2016.leadingdesignconf.com/') %>, London 2016</h1>
    <h2>New on the Job: Your First 90 Days in a Design Leadership Role</h2>
    <p><%= link_to('Presentation slides', 'https://pnts.sfo2.digitaloceanspaces.com/new-on-the-job.pdf') %></p>
  </div>

  <div class="col-2">
    <p>Congratulations on your new role! It’s an exciting time to be a designer - not only is design everywhere, it also has a seat at the table. Wherever you are in your career, transitioning to a new role is exciting, challenging, and scary. It’s also a critical time to lay the foundation for your future success. This is especially true for design leaders, who face not only the challenge of organisational change, but of establishing design as a strategic partner at every level. This talk will provide design leaders with actionable ideas and best practices for the first 90 days in a design leadership role.</p>
  </div>
</section>

<div class="separator"></div>

<section class="content">
  <div class="col-1">
    <h1 class="section-label">KEYNOTE: <%= link_to('Litmus Live', 'https://litmus.com/conference/2016') %>, London/Boston/San Francisco 2016</h1>
    <h2>Transform Your Email Strategy with Design Leadership</h2>
    <p><%= link_to('Presentation slides', 'https://pnts.sfo2.digitaloceanspaces.com/strategy-design-leadership.pdf') %></p>
  </div>

  <div class="col-2">
    <p>When a company embraces good design it permeates not only the product but the entire customer and subscriber experience. However, in organizations big and small, how email and email design affects these experiences is often an afterthought. This talk will provide email designers with actionable ideas and best practices to step up and use design leadership to create better emails, amplify their influence with their colleagues, and have an impact across the broader organization.</p>
  </div>
</section>

<div class="separator"></div>

<section class="content">
  <div class="col-1">
    <h1 class="section-label"><%= link_to('Prototypes, Process & Play', 'http://chicagocamps.org/events/2015/prototypes-process-play/') %>, Chicago 2015 <br/>
    The Future of Web Design, New York 2015</h1>
    <h2>So You’ve Got a Seat at the Table. Now What?</h2>
    <p><%= link_to('Presentation slides', 'https://pnts.sfo2.digitaloceanspaces.com/seat-at-the-table.pdf') %></p>
  </div>

  <div class="col-2">
    <p>We’ve been fighting the good fight to get design at the table. Across companies large and small it’s becoming standard to have design sit alongside business and engineering as a core partner. But getting to the table is just the beginning. What happens once you’re there?</p>
  </div>
</section>

<div class="separator"></div>
