---
title: Andrea Mignolo /// Coaching
---


<section class="hero">
  <%= image_tag 'hero/coaching.png' %>
</section>

<section class="content">
  <div class="col-1">
    <h1 class="section-label">Coaching</h1>
  </div>

  <div class="col-2">
    <h2>I work with start-ups, leaders, and teams to design meaningful ways of working that lead to better organizations and outcomes.</h2>

    <p>I believe that personal transformation is the foundation for meaningful organizational change. By starting with ourselves we can examine ingrained patterns of communicating, responding, and collaborating. As we start to understand and shift those patterns we experience new possibilities for how we show up, and in those possibilities are the seeds to larger change.</p>

    <p>Our organizations are relics of 19th century industrial ways of working, from structures to processes to operating principles. Here in the 21st century we've rapidly moved through waves of technological progress and the old ways of working no longer serve us. The metaphor of organization as machine has given way to organization as complex organism. Command-and-control bureaucracies are too slow and inflexible to respond to ever-changing market conditions. How do we co-create new ways of working that honors what it means to human and fosters continuous learning to create a competitive advantage?</p>


  </div>
</section>

<div class="separator"></div>

<section class="content">
  <div class="col-1">
    <h1 class="section-label">Principles</h1>
  </div>

  <div class="col-2">
    <h2>1. Transformation happens at biological time</h2>
    <p>This one is straight from New Ventures West. Simple and profound, it's also one of the hardest to abide by. We want everything now, for progress to happen at the speed of light. But true transformation happens at a deeper level, one that does not abide by the cadence of text messages and badges.</p>

    <h2>2. Humble inquiry leads the way</h2>
    <p>The simple act of asking questions releases us from the pressure of needing to have all the answers. The work of coaching, of transformation, of teams, is built upon the questions that we ask.</p>

    <h2>3. Strengths are the doorways of possibility</h2>
    <p>Our culture likes to focus on weaknesses - what we're not good at, what we're doing wrong, and tries to fix those. It's a culture of compliance, but compliance doesn't get us very far. When we focus on strengths, we focus on possibilities and make an orthogonal jump to an entirely different problem space, rife with potential.</p>

    <h2>4. Serious play moves mountains</h2>
    <p>When we play games we adopt what <%= link_to('Bernard Suits', 'https://www.amazon.com/Grasshopper-Games-Life-Utopia/dp/155111772X/') %> calls the lusory attitude. When we do this, we accept the arbitrary rules of a game to facilitate the experience of play. The lusory attitude is the foundation for the work we do.</p>

    <h2>5. Unique leadership breaks archetypes </h2>
    <p>In the tech world we're surrounded by a very specific archetype of what leadership looks like. But there are other ways to lead, ways that are authentic to who we are as individuals, and when we embody that truth we become the leaders we are meant to be.</p>

    <h2>6. Use work to do the work </h2>
    <p>Throughout the course of our lives we spend a lot of time at work. <%= link_to('David Whyte', 'https://www.amazon.com/Heart-Aroused-Preservation-Corporate-America-ebook/dp/B000XUBFF6/') %> has done the heavy work of calling attention to <em>the chasm</em> - the split between what is nourishing at work and what is agonizing. It is the deep work of accepting this chasm that leads us to individual creativity and personal transformation.</p>
  </div>
</section>


<div class="separator"></div>

<section class="content training">
  <div class="col-1">
    <h1 class="section-label">Training</h1>
  </div>

  <div class="col-2">
    <h2>MBA, <%= link_to('Case Western Reserve University', 'https://weatherhead.case.edu/degrees/masters/mba/executive/') %></h2>
    <p>Intentional Change Theory, Appreciative Inquiry, Design Thinking</p>

    <h2><%= link_to('New Ventures West', 'http://www.newventureswest.com') %></h2>
    <p>Integral Coach Candidate, September 2019</p>
  </div>
</section>
