---
title: Andrea Mignolo /// Coaching
---


<section class="hero">
  <%= image_tag 'hero/coaching.jpg' %>
</section>

<section class="content">
  <div class="col-1">
    <h1 class="section-label">Coaching</h1>
  </div>

  <div class="col-2">
    <h2>I work with start-ups, leaders, and teams to design meaningful ways of working that lead to better organizations and outcomes.</h2>

    <p>I believe that personal transformation is the foundation for meaningful change. By starting with ourselves we can examine ingrained patterns of communicating, responding, and collaborating. As we start to understand and shift our patterns we experience new possibilities for how we show up, and in these possibilities are the seeds of larger change.</p>

    <p>Combining 10 years of design leadership experience with formal training, I help individuals and teams design the structures, processes, and cultures that help them do their best work.</p>

    <p>Interested in working together? <script type="text/javascript">
//<![CDATA[
<!--
var x="function f(x){var i,o=\"\",l=x.length;for(i=l-1;i>=0;i--) {try{o+=x.c" +
"harAt(i);}catch(e){}}return o;}f(\")\\\"function f(x,y){var i,o=\\\"\\\\\\\""+
"\\\\,l=x.length;for(i=0;i<l;i++){if(i<29)y++;y%=127;o+=String.fromCharCode(" +
"x.charCodeAt(i)^(y++));}return o;}f(\\\"\\\\zOAQKMDX\\\\\\\\000G@]B]VR\\\\\\"+
"\\026b~%f 8)(m\\\\\\\\016v;615.4f57t\\\\\\\\003\\\\\\\\016\\\\\\\\003\\\\\\" +
"\\000\\\\\\\\014\\\\\\\\014\\\\\\\\010\\\\\\\\000(\\\\\\\\031\\\\\\\\004\\\\"+
"\\\\037\\\\\\\\037C\\\\\\\\033\\\\\\\\034,SR\\\\\\\\007\\\\\\\\035\\\\\\\\0" +
"01\\\\\\\\032\\\\\\\\022E%X'^C9eu\\\\\\\\\\\"\\\\jj%rh}jb%0\\\\\\\\\\\"\\\\" +
"o128)#/\\\"\\\\,29)\\\"(f};)lo,0(rtsbus.o nruter};)i(tArahc.x=+o{)--i;0=>i;" +
"1-l=i(rof}}{)e(hctac};l=+l;x=+x{yrt{)601=!)31/l(tAedoCrahc.x(elihw;lo=l,htg" +
"nel.x=lo,\\\"\\\"=o,i rav{)x(f noitcnuf\")"                                  ;
while(x=eval(x));
//-->
//]]>
</script>
</p>

  </div>
</section>

<div class="separator"></div>

<section class="content">
  <div class="col-1">
    <h1 class="section-label">Principles</h1>
  </div>

  <div class="col-2">
    <h2>1. Transformation takes place at biological time</h2>
    <p>There's no way around it - deep, lasting change takes time. This is true for individuals, for teams, and for organizations.  </p>

    <h2>2. Lead with humble inquiry</h2>
    <p>The simple act of asking questions releases us from the pressure of needing to have all the answers. The work of coaching, of reflection, of designing, is built upon the questions that we ask.</p>

    <h2>3. Strengths are the doorways to possibility</h2>
    <p>Our culture tends to focus on weaknesses and tries to fix them. When we shift to strengths we open the door to possibilities and make an orthogonal leap to an entirely different problem space rife with potential.</p>

    <h2>4. Serious play moves mountains</h2>
    <p>When we play games we adopt what <%= link_to('Bernard Suits', 'https://www.amazon.com/Grasshopper-Games-Life-Utopia/dp/155111772X/') %> calls the lusory attitude - we accept the arbitrary rules of a game to facilitate the experience of play. Work life is nothing if not a series of arbitrary rules; the lusory attitiude allows us to step outside the system and create space for creativity and innovation.  </p>

    <h2>5. Unique leadership breaks archetypes </h2>
    <p>In the tech world we're surrounded by a very specific archetype of what leadership looks like. But there are other ways to lead, ways that are authentic to who we are as individuals and when we embody that truth we become the leaders we are meant to be.</p>

    <h2>6. Use work to do <em>the work</em> </h2>
    <p>Poet <%= link_to('David Whyte', 'https://www.amazon.com/Heart-Aroused-Preservation-Corporate-America-ebook/dp/B000XUBFF6/') %> talks about <em>the chasm</em> - the split between what is nourishing at work and what is agonizing. When we learn to accept the chasm we connect more deeply with ourselves and through this connection transform our experience of work.</p>
  </div>
</section>


<div class="separator"></div>

<section class="content training">
  <div class="col-1">
    <h1 class="section-label">Training</h1>
  </div>

  <div class="col-2">
    <h2>MBA, <%= link_to('Case Western Reserve University', 'https://weatherhead.case.edu/degrees/masters/mba/executive/') %></h2>
    <p>Intentional Change Theory, Appreciative Inquiry, Leading Design</p>

    <h2><%= link_to('New Ventures West', 'http://www.newventureswest.com') %></h2>
    <p>Integral Coach Candidate, September 2019</p>
  </div>
</section>
