---
title: pnts.us /// Andrea Mignolo
---

<section class="hero">
  <%= image_tag 'hero/home.png' %>
  <h1>
    Andrea Mignolo
    <span>Designer, speaker, coach.</span>
  </h1>
</section>

<h2 class="mission-statement">
  <%= link_to('I help organizations design more human ways of working.', 'coaching') %>
</h2>

<div class="separator"></div>

<section class="on-design">
  <div class="design-col-1">
    <h2>Inquire, create, reflect.</h2>
    <p>I use theories of design to help start-ups, teams, and leaders open up new worlds of possibility for how we can work, live, and create. </p>

    <p>At it’s core design is a transformational learning process of inquiry, creation, and reflection; a critical practice to utilize when facing challenges of the 21st century. </p>

    <p><%= link_to('Learn more about my approach.', 'about') %></p>
  </div>

  <div class="col-2">
    <%= image_tag 'design-loop.png', :class => 'design-loop' %>
  </div>
</section>

<div class="separator"></div>

<section class="content">
  <div class="col-1">
    <h2>Speaking and Workshops</h2>
  </div>

  <div class="col-2">
    <p>I speak frequently on the topic of design leadership, business strategy, culture, design thinking, and management. I am incredibly passionate about the power of design and how it can be applied to the challenges that we face in our organizations. Using real-world experiences and case studies I hope to inspire new approaches to how we think about work.  </p>

    <p><%= link_to('See talks and videos', 'speaking') %></p>
  </div>
</section>

<div class="separator"></div>

<section class="content">
  <div class="col-1">
    <h2>Coaching</h2>
  </div>

  <div class="col-2">
    <p>As a practitioner of Intentional Change Theory, Appreciative Inquiry, and Integral Coaching, I believe in strengths-based approaches to change. I work with start-ups, leaders, and teams to design meaningful ways of working that lead to better organizations and outcomes</p>

    <p><%= link_to('Dive deeper into coaching', 'https://methodandmatter.com') %></p>
  </div>
</section>

<div class="separator"></div>

<section class="content">
  <div class="col-1">
    <h2>Reading</h2>
  </div>

  <div class="col-2">
    <p>I am a voracious reader! Books have introduced me to some pivotal and life-changing theories that have impacted the way I think about work and what it means to live a purposeful life.</p>

    <p><%= link_to('Take a look at my reading list', 'reading') %></p>
  </div>
</section>
