---
title: Andrea Mignolo /// Reading
---


<section class="hero">
  <%= image_tag 'hero/about.png' %>
</section>

<section class="content">
  <div class="col-1">
    <h1 class="section-label">Reading</h1>
  </div>

  <div class="col-2">
    <h2>I read voraciously. These are some of the books that have had a profound impact on how I approach work, life, and purpose.</h2>
  </div>
</section>

<div class="separator"></div>

<section class="content">
  <div class="col-1">
    <%= image_tag 'books/reinventing-orgs.png', :class => 'book-cover' %>
  </div>

  <div class="col-2">
    <h3>Reinventing Organizations: A Guide to Creating Organizations Inspired by the Next Stages of Human Consciousness</h3>
    <p>Frederick Laloux</p>
  </div>
</section>

<div class="separator"></div>

<section class="content">
  <div class="col-1">
    <%= image_tag 'books/fifth-discipline.png', :class => 'book-cover' %>
  </div>

  <div class="col-2">
    <h3>The Fifth Discipline: The Art & Practice of the Learning Organizations</h3>
    <p>Peter Senge</p>
  </div>
</section>

<div class="separator"></div>

<section class="content">
  <div class="col-1">
    <%= image_tag 'books/heart-aroused.png', :class => 'book-cover' %>
  </div>

  <div class="col-2">
    <h3>The Heart Aroused: Poetry and the Preservation of the Soul in Corporate America</h3>
    <p>David Whyte</p>
  </div>
</section>

<div class="separator"></div>

<section class="content">
  <div class="col-1">
    <%= image_tag 'books/thinking-in-systems.jpg', :class => 'book-cover' %>
  </div>

  <div class="col-2">
    <h3>Thinking in Systems: A Primer</h3>
    <p>Donella H. Meadows</p>
  </div>
</section>

<div class="separator"></div>

<section class="content">
  <div class="col-1">
    <%= image_tag 'books/flourishing-enterprise.png', :class => 'book-cover' %>
  </div>

  <div class="col-2">
    <h3>Flourishing Enterprise: The New Spirit of Business</h3>
    <p>Chris Laszlo and Judy Sorum Brown</p>
  </div>
</section>

<div class="separator"></div>

<section class="content">
  <div class="col-1">
    <%= image_tag 'books/how-do-you-design.png', :class => 'book-cover' %>
  </div>

  <div class="col-2">
    <h3>How do you design? A Compendium of Models</h3>
    <p>Hugh Dubberly</p>
  </div>
</section>

<div class="separator"></div>

<section class="content">
  <div class="col-1">
    <%= image_tag 'books/design-methods.png', :class => 'book-cover' %>
  </div>

  <div class="col-2">
    <h3>Design Methods: seeds of human futures</h3>
    <p>J. Christopher Jones</p>
  </div>
</section>

<div class="separator"></div>

<section class="content">
  <div class="col-1">
    <%= image_tag 'books/on-design.png', :class => 'book-cover' %>
  </div>

  <div class="col-2">
    <h3>On Design</h3>
    <p>George Nelson</p>
  </div>
</section>

<div class="separator"></div>

<section class="content">
  <div class="col-1">
    <%= image_tag 'books/designs-for-the-pluriverse.png', :class => 'book-cover' %>
  </div>

  <div class="col-2">
    <h3>Designs for the Pluriverse: Radical Interdependence, Autonomy, and the Making of Worlds (New Ecologies for the Twenty-First Century)</h3>
    <p>Arturo Escobar</p>
  </div>
</section>

<div class="separator"></div>

<section class="content">
  <div class="col-1">
    <%= image_tag 'books/art-as-experience.png', :class => 'book-cover' %>
  </div>

  <div class="col-2">
    <h3>Art as Experience</h3>
    <p>John Dewey</p>
  </div>
</section>

<div class="separator"></div>

<section class="content">
  <div class="col-1">
    <%= image_tag 'books/art-of-possibility.png', :class => 'book-cover' %>
  </div>

  <div class="col-2">
    <h3>The Art of Possibility</h3>
    <p>Rosamund Stone Zander and Benjamin Zander</p>
  </div>
</section>

<div class="separator"></div>

<section class="content">
  <div class="col-1">
    <%= image_tag 'books/computers-and-cognition.png', :class => 'book-cover' %>
  </div>

  <div class="col-2">
    <h3>Understanding Computers and Cognition: A New Foundation for Design</h3>
    <p>Terry Winograd and Fernando Flores</p>
  </div>
</section>
