---
title: Andrea Mignolo /// Reading
---


<section class="hero">
  <%= image_tag 'hero/about.png' %>
</section>

<section class="content">
  <div class="col-1">
    <h1 class="section-label">Reading</h1>
  </div>

  <div class="col-2">
    <h2>I read voraciously. These are some of the books that have had a profound impact on how I approach work, life, and purpose.</h2>
  </div>
</section>

<div class="separator"></div>

<section class="content">
  <div class="col-1">
    <%= image_tag 'books/reinventing-orgs.png', :class => 'book-cover' %>
  </div>

  <div class="col-2">
    <h3><%= link_to('Reinventing Organizations: A Guide to Creating Organizations Inspired by the Next Stages of Human Consciousness', 'https://www.amazon.com/Reinventing-Organizations-Creating-Inspired-Consciousness-ebook/dp/B00ICS9VI4/') %></h3>
    <p>Frederick Laloux</p>

    <p><em>This book</em>. Combining Spiral Dynamics with Ken Wilber's Integral Theory, Laloux examines the evolution of organizational models alongside the evolution of human consciousness. He includes case studies of 12 organizations operating at the 'holistic' or 'teal' level, covering structures, practices, and cultures which include self-management, wholeness, and evolutionary purpose. As if the book wasn't enough, Laloux launched a follow-up video series, <%= link_to('Insights for the Journey', 'https://thejourney.reinventingorganizations.com/') %>, that's definitely worth a watch (or five).</p>
  </div>
</section>

<div class="separator"></div>

<section class="content">
  <div class="col-1">
    <%= image_tag 'books/fifth-discipline.png', :class => 'book-cover' %>
  </div>

  <div class="col-2">
    <h3>
      <%= link_to('The Fifth Discipline: The Art & Practice of the Learning Organizations', 'https://www.amazon.com/Fifth-Discipline-Practice-Learning-Organization-ebook/dp/B000SEIFKK/') %></h3>
    <p>Peter Senge</p>

    <p>Peter Senge is an OG and this book is a classic - a great into to systems thinking and how it applies to organizations. </p>

  </div>
</section>

<div class="separator"></div>

<section class="content">
  <div class="col-1">
    <%= image_tag 'books/heart-aroused.png', :class => 'book-cover' %>
  </div>

  <div class="col-2">
    <h3><%= link_to('The Heart Aroused: Poetry and the Preservation of the Soul in Corporate America', 'https://www.amazon.com/Heart-Aroused-Preservation-Corporate-America-ebook/dp/B000XUBFF6/') %></h3>
    <p>David Whyte</p>

    <p>What happens when you put a poet in corporate America? This book. Through poetry and prose, David Whyte takes on nothing less than what it means to be whole and authentic at work. Calling for more humanity in the workplace and asking us to address the deep fears we usually keep hidden, this book is a masterpiece of wisdom, learning, and leadership. Not to mention you will have a whole new appreciation for Beowulf! Bonus points for listening to any of Whyte's </p>
  </div>
</section>

<div class="separator"></div>

<section class="content">
  <div class="col-1">
    <%= image_tag 'books/thinking-in-systems.jpg', :class => 'book-cover' %>
  </div>

  <div class="col-2">
    <h3><%= link_to('Thinking in Systems: A Primer', 'https://www.amazon.com/Thinking-Systems-Donella-H-Meadows-ebook/dp/B005VSRFEA/') %></h3>
    <p>Donella H. Meadows</p>

    <p>I'm just going to straight up quote Meadows because she's <em>so good</em>. "Magical leverage points are not easily accessible, even if we know where they are and which direction to push them. There are no cheap tickets to mastery. You have to work hard at it, whether that means rigorously analyzing a system or rigorously casting off your own paradigms and throwing yourself into the humility of not-knowing. In the end, it seems that mastery has less to do with pushing leverage points than it does with strategically, profoundly, madly, letting go and dancing with the system."</p>
  </div>
</section>

<div class="separator"></div>

<section class="content">
  <div class="col-1">
    <%= image_tag 'books/flourishing-enterprise.png', :class => 'book-cover' %>
  </div>

  <div class="col-2">
    <h3><%= link_to('Flourishing Enterprise: The New Spirit of Business', 'https://www.amazon.com/Flourishing-Enterprise-New-Spirit-Business-ebook/dp/B00NC2OUUY/') %></h3>
    <p>Chris Laszlo and Judy Sorum Brown</p>

    <p>I love the word flourishing and I love this book.</p>
  </div>
</section>

<div class="separator"></div>

<section class="content">
  <div class="col-1">
    <%= image_tag 'books/how-do-you-design.png', :class => 'book-cover' %>
  </div>

  <div class="col-2">
    <h3><%= link_to('How do you design? A Compendium of Models', 'http://www.dubberly.com/articles/how-do-you-design.html') %></h3>
    <p>Hugh Dubberly</p>

    <p>Ever wish you could have a book filled with all the models of design processes in existence? Wish no further! Dubberly has done the hard work of finding and annotating various models of what it means to design, and you get the fun task of sitting back and pondering the plurality of processes (nice alliteration, hey?).</p>
  </div>
</section>

<div class="separator"></div>

<section class="content">
  <div class="col-1">
    <%= image_tag 'books/design-methods.png', :class => 'book-cover' %>
  </div>

  <div class="col-2">
    <h3><%= link_to('Design Methods: seeds of human futures', 'https://www.amazon.com/Design-methods-Seeds-human-futures/dp/0471447900/') %></h3>
    <p>J. Christopher Jones</p>

    <p>How do desigers work and what does it mean to design?</p>
  </div>
</section>

<div class="separator"></div>

<section class="content">
  <div class="col-1">
    <%= image_tag 'books/on-design.png', :class => 'book-cover' %>
  </div>

  <div class="col-2">
    <h3><%= link_to('On Design', 'https://www.amazon.com/George-Nelson-Design/dp/0823072045/') %></h3>
    <p>George Nelson</p>
  </div>
</section>

<div class="separator"></div>

<section class="content">
  <div class="col-1">
    <%= image_tag 'books/designs-for-the-pluriverse.png', :class => 'book-cover' %>
  </div>

  <div class="col-2">
    <h3><%= link_to('Designs for the Pluriverse: Radical Interdependence, Autonomy, and the Making of Worlds (New Ecologies for the Twenty-First Century)', 'https://www.amazon.com/Designs-Pluriverse-Interdependence-Ecologies-Twenty-First/dp/0822371057') %></h3>
    <p>Arturo Escobar</p>
  </div>
</section>

<div class="separator"></div>

<section class="content">
  <div class="col-1">
    <%= image_tag 'books/art-as-experience.png', :class => 'book-cover' %>
  </div>

  <div class="col-2">
    <h3><%= link_to('Art as Experience', 'https://www.amazon.com/Art-as-Experience-John-Dewey-ebook/dp/B075WC6JDY/') %></h3>
    <p>John Dewey</p>

    <p>Chapter 3 - 'Having an Experience' should be required reading for all designers.</p>
  </div>
</section>

<div class="separator"></div>

<section class="content">
  <div class="col-1">
    <%= image_tag 'books/art-of-possibility.png', :class => 'book-cover' %>
  </div>

  <div class="col-2">
    <h3><%= link_to('The Art of Possibility: Transforming Professional and Personal Life', 'https://www.amazon.com/Art-Possibility-Transforming-Professional-Personal-ebook/dp/B00N1KJ76E') %></h3>
    <p>Rosamund Stone Zander and Benjamin Zander</p>
  </div>
</section>

<div class="separator"></div>

<section class="content">
  <div class="col-1">
    <%= image_tag 'books/computers-and-cognition.png', :class => 'book-cover' %>
  </div>

  <div class="col-2">
    <h3><%= link_to('Understanding Computers and Cognition: A New Foundation for Design', 'https://www.amazon.com/Understanding-Computers-Cognition-Foundation-Design/dp/0201112973/') %></h3>
    <p>Terry Winograd and Fernando Flores</p>
  </div>
</section>

<div class="separator"></div>

<section class="content">
  <div class="col-1">
    <%= image_tag 'books/biology-of-love.png', :class => 'book-cover' %>
  </div>

  <div class="col-2">
    <h3><%= link_to('The Origin of Humanness in the Biology of Love', 'https://www.amazon.com/Origin-Humanness-Biology-Humberto-Romesin/dp/1845400887/') %></h3>
    <p>Humberto Maturana Romesin and Gerda Verden-Zoller</p>

    <p>Excuse me while I nerd out for a second, but Maturana's ideas around the 'braiding of languaging and emotioning' as they relate to lineages could provide insight into how organizational culture grows and evolves.</p>
  </div>
</section>
