---
title: Andrea Mignolo /// Speaking
---

<section class="hero">
  <%= image_tag 'hero/speaking.jpg' %>
</section>

<section class="content">
  <div class="col-1">
    <h1 class="section-label">Speaking</h1>
  </div>

  <div class="col-2">
    <h2>I love to talk about design as a vehicle of transformation, exploring intersections with leadership, culture, business, and organizations.</h2>

    <p>UPCOMING TALKS: Leadership by Design. Chicago, August 2019</p>

    <p>Interested in having me speak or host a workshop? <script type="text/javascript">
//<![CDATA[
<!--
var x="function f(x){var i,o=\"\",l=x.length;for(i=l-1;i>=0;i--) {try{o+=x.c" +
"harAt(i);}catch(e){}}return o;}f(\")\\\"function f(x,y){var i,o=\\\"\\\\\\\""+
"\\\\,l=x.length;for(i=0;i<l;i++){y%=127;o+=String.fromCharCode(x.charCodeAt" +
"(i)^(y++));}return o;}f(\\\"\\\\t~qfypxc6nhrhxrq\\\\\\\\010\\\\\\\\003\\\\\\"+
"\\036B\\\\\\\\004MTBN\\\\\\\\024v\\\\\\\\tALGCD^\\\\\\\\010[]\\\\\\\\036EG]" +
"XQRRZ~O.51m16\\\\\\\\032eh=#? (s\\\\\\\\023r\\\\\\\\rpm\\\\\\\\0230\\\\\\\\" +
"\\\"\\\\w17z/3(=7N]M\\\\\\\\002ZGO\\\\\\\\\\\\\\\\XR\\\"\\\\,16)\\\"(f};)lo" +
",0(rtsbus.o nruter};)i(tArahc.x=+o{)--i;0=>i;1-l=i(rof}}{)e(hctac};l=+l;x=+" +
"x{yrt{)55=!)31/l(tAedoCrahc.x(elihw;lo=l,htgnel.x=lo,\\\"\\\"=o,i rav{)x(f " +
"noitcnuf\")"                                                                 ;
while(x=eval(x));
//-->
//]]>
</script>
</p>
  </div>
</section>

<div class="separator"></div>

<section class="content">
  <div class="col-1">
    <h1 class="section-label">Selected Talks</h1>
  </div>

  <div class="col-2">
    <div class="video-container">
    <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/243835373?color=ffffff&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
    </div>
  </div>
</section>

<section class="content">
  <div class="col-1">
    <h1 class="section-label">Keynote: <%= link_to('Leading Design', 'https://2017.leadingdesignconf.com/') %>, London 2017</h1>
    <h2>Eat Only Elk: Authenticity, Transformation, and the Business of Design</h2>
    <p><%= link_to('Presentation slides', 'https://pnts.sfo2.digitaloceanspaces.com/eat-only-elk.pdf') %></p>
  </div>

  <div class="col-2">
    <p>Over the past decade the role of design has taken on greater organizational significance. Today design leaders must focus not only on creating great products and services, but on transforming business through the power of design. But what about our own personal transformation? We pour so much time into building teams, operationalizing design, developing strategy, and creating value for our companies that it can be hard to keep sight of what happens to us in the process. If personal transformation lays the foundation for organizational change, how do we make space to show up fully and be our authentic selves in a professional environment? This talk will explore the question of self transformation in the context of work life and look at how inner struggles can expand our understanding of what it means to be a professional, a leader, and a designer.</p>
  </div>
</section>

<div class="separator"></div>

<section class="content">
  <div class="col-1">
    <h1 class="section-label"><%= link_to('Leading Design', 'https://2016.leadingdesignconf.com/') %>, London 2016</h1>
    <h2>New on the Job: Your First 90 Days in a Design Leadership Role</h2>
    <p><%= link_to('Presentation slides', 'https://pnts.sfo2.digitaloceanspaces.com/new-on-the-job.pdf') %></p>
  </div>

  <div class="col-2">
    <p>Congratulations on your new role! It’s an exciting time to be a designer - not only is design everywhere, it also has a seat at the table. Wherever you are in your career, transitioning to a new role is exciting, challenging, and scary. It’s also a critical time to lay the foundation for your future success. This is especially true for design leaders, who face not only the challenge of organisational change, but of establishing design as a strategic partner at every level. This talk will provide design leaders with actionable ideas and best practices for the first 90 days in a design leadership role.</p>
  </div>
</section>

<div class="separator"></div>

<section class="content">
  <div class="col-1">
    <h1 class="section-label">KEYNOTE: <%= link_to('Litmus Live', 'https://litmus.com/conference/2016') %>, London/Boston/San Francisco 2016</h1>
    <h2>Transform Your Email Strategy with Design Leadership</h2>
    <p><%= link_to('Presentation slides', 'https://pnts.sfo2.digitaloceanspaces.com/strategy-design-leadership.pdf') %></p>
  </div>

  <div class="col-2">
    <p>When a company embraces good design it permeates not only the product but the entire customer and subscriber experience. However, in organizations big and small, how email and email design affects these experiences is often an afterthought. This talk will provide email designers with actionable ideas and best practices to step up and use design leadership to create better emails, amplify their influence with their colleagues, and have an impact across the broader organization.</p>
  </div>
</section>

<div class="separator"></div>

<section class="content">
  <div class="col-1">
    <h1 class="section-label"><%= link_to('Prototypes, Process & Play', 'http://chicagocamps.org/events/2015/prototypes-process-play/') %>, Chicago 2015 <br/>
    The Future of Web Design, New York 2015</h1>
    <h2>So You’ve Got a Seat at the Table. Now What?</h2>
    <p><%= link_to('Presentation slides', 'https://pnts.sfo2.digitaloceanspaces.com/seat-at-the-table.pdf') %></p>
  </div>

  <div class="col-2">
    <p>We’ve been fighting the good fight to get design at the table. Across companies large and small it’s becoming standard to have design sit alongside business and engineering as a core partner. But getting to the table is just the beginning. What happens once you’re there?</p>
  </div>
</section>
